@use "../custom" as *;
@use "../components/mixins" as *;

.char {
  &__img {
    @include gradient;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    padding: 4rem;
    // border: 1rem solid $primary;
    overflow: hidden;
    box-sizing: border-box;

    img {
      border-radius: 50%;
      transform: scale(1.6);
    }
  }
}
