@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/animations" as *;

.intro {
  @include gradient;
  padding: 5rem 0 0 0;
  position: relative;

  .col-img-intro {
    z-index: 2;
  }

  &__img {
    @include media-breakpoint-down(sm) {
      margin: -8% auto 0 auto;
      width: 50%;
      // z-index: 2;
      position: relative;

      // img {
      //   z-index: 999;
      // }
      // transform: translateY(-15%);
    }
  }

  &__img-title {
    margin-top: 4rem;

    img {
      filter: drop-shadow(0 10px 5px rgba($black, 0.2));
      animation: pulse-title 7s ease-in-out infinite;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 50%;
      transform: translateY(-30%);
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      transform: translateY(0);
    }
  }

  .illustration-1 {
    position: absolute;
    top: -12rem;
    right: -12rem;
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    filter: blur(0.6rem);
    background-color: rgba($white, 0.2);
    // border: 2px solid rgba($white, 0.2);
    z-index: 0;

    @include media-breakpoint-down(md) {
      top: -16rem;
      right: -16rem;
    }
  }

  .illustration-2 {
    position: absolute;
    right: 4rem;
    top: 26rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    filter: blur(0.3rem);
    // background-color: rgba($white, 0.2);
    border: 2px solid rgba($white, 1);
    z-index: 0;
    animation: pulse 5s ease-in-out infinite;

    @include media-breakpoint-down(md) {
      right: 2rem;
      top: 28rem;
    }
  }

  .illustration-3 {
    position: absolute;
    right: 10rem;
    top: 20rem;
    width: 3rem;
    height: 3rem;
    filter: blur(0.3rem);
    // background-color: rgba($white, 0.2);
    animation: move-top 4s ease-in-out infinite;
    border: 2px solid rgba($white, 1);
    transform: rotate(30deg);
    z-index: 0;

    @include media-breakpoint-down(md) {
      right: 6rem;
      transform: scale(0.7) rotate(30deg);
    }
  }

  .illustration-4 {
    position: absolute;
    top: 30rem;
    left: -4rem;
    width: 30rem;
    height: 30rem;
    filter: blur(0.6rem);
    border-radius: 50%;
    background-color: rgba($white, 0.2);
    border: 2px solid rgba($white, 1);
    transform: rotate(30deg);
    z-index: 0;
  }

  .illustration-5 {
    position: absolute;
    top: 22rem;
    left: 4rem;
    width: 3rem;
    height: 3rem;
    filter: blur(0.3rem);
    border: 2px solid rgba($white, 1);
    transform: rotate(60deg);
    z-index: 0;
    // animation: move-top 4s ease-in-out infinite;
  }

  .illustration-6 {
    position: absolute;
    top: 6rem;
    left: 6rem;
    width: 10rem;
    height: 10rem;
    filter: blur(0.3rem);
    border: 2px solid rgba($white, 1);
    border-radius: 50%;
    transform: rotate(60deg);
    z-index: 0;
    animation: pulse 5s ease-in-out infinite;

    @include media-breakpoint-down(md) {
      left: -6rem;
    }
  }
}
