@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  @include gradient;
  color: white;
  border-bottom: 2px solid rgba($white, 0.2);
  opacity: 0.95;

  a {
    img {
      width: 8rem;
    }
  }
}
