@use "../custom" as *;

.intro {
  &__img-title-lg-up {
    font-family: "Caveat", cursive;
    padding: 0 3rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    filter: drop-shadow(5px 10px 5px rgba($black, 0.2));

    @include media-breakpoint-down(xl) {
      padding: 0 0;
      font-size: 1.4rem;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__img-title-md-down {
    display: none;
    font-family: "Caveat", cursive;
    filter: drop-shadow(5px 10px 5px rgba($black, 0.2));

    @include media-breakpoint-down(lg) {
      display: block;
      padding: 0 3rem;
      font-size: 1.6rem;
    }

    @include media-breakpoint-down(sm) {
      display: block;
      padding: 0 1.5rem;
      font-size: 1.6rem;
    }
  }
}

.intro-p-line::before {
  display: block;
  margin: 1rem auto 0.5rem auto;
  content: "";
  width: 40%;
  height: 0.2rem;
  background-color: rgba($white, 0.2);
}

.intro-p-line::after {
  display: block;
  margin: 0 auto;
  content: "";
  width: 10%;
  height: 0.2rem;
  background-color: rgba($white, 0.2);
}
